.header {
  margin-bottom: $m-size;
  padding: $m-size 0;
  color: #ffffff;
  background-color: $off-black;
}

.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  font-size: $m-size;
  font-weight: 500;
  color: $off-white;
  margin: 0;
}

@media (min-width: $desktop-breakpoint) {
  .header {
    margin-bottom: $xl-size;
  }
}
